{% extends "base.html.twig" %}

{% block title %}Library | {% endblock %}

{% block content %}
<div class="container-left">
    <div class="formcontainer">
<form method="post">
    <fieldset>
    <legend>Update a book</legend>

    
        <label for="id">Id</label><br>
        <input type="value" name="id" readonly value={{book.id}}><br>
        <label for="title">Title</label><br>
        <input type="text" name="title" value='{{book.title}}'><br>
        <label for="isbn">ISBN</label><br>
        <input type="value" name="isbn" value={{book.isbn}}><br>
        <label for="author">Author</label><br>
        <input type="text" name="author" value='{{book.author}}'><br>
        <label for="image">Image</label><br>
        <input type="text" name="image" value={{book.picture}}><br>
        <label for="description">Description</label><br>
        <input type="text" name="description" value='{{book.descript}}'><br>
        <input type="submit" name="update" value='Update'>
    </fieldset>
</form>
</div>
{{ include('block/flash-message.html.twig') }}

<li><a href="{{ url("library")}}">Library</a></li>
<li><a href="{{ url("books_show_all")}}">Show all books</a></li>
</div>
{% endblock %}
