{% extends "base.html.twig" %}

{% block title %}Role | change {% endblock %}

{% block content %}
<div class="container-left">
<form method="post">
    <fieldset>
    <legend>Change role</legend>
    <p>
        <label for="name">Name</label>
        <input type="text" name="name" value={{user.name}}>
        <label for="akronym">Akronym</label>
        <input type="text" name="akronym" value={{user.akronym}}>
        <label for="email">Email</label>
        <input type="text" name="email" value={{user.email}}>
        <input type="submit" name="update" value="Change">
    </p>
    </fieldset>
</form>

{{ include('block/flash-message.html.twig') }}

<li><a href="{{ url("library")}}">Library</a></li>
<li><a href="{{ url("books_show_all")}}">Show all books</a></li>
</div>
{% endblock %}
