{% extends "base.html.twig" %}

{% block title %}Role | change {% endblock %}

{% block content %}
<div class="container-left">
<form method="post">
    <fieldset>
    <legend>Change role</legend>
    {{dump(user.roles)}}

    <p>
        <input type="text" name="name" readonly value={{user.name}}>
        <input type="text" name="role" value={{user.roles[0]}}>
        <input type="submit" name="update" value="Add">
    </p>
    </fieldset>
</form>

{{ include('block/flash-message.html.twig') }}

<li><a href="{{ url("library")}}">Library</a></li>
<li><a href="{{ url("books_show_all")}}">Show all books</a></li>
</div>
{% endblock %}
