{# deck.html.twig #}

{% extends "base.html.twig"%}
{% block title %}Card | Deck{% endblock %}
{% block content %}

<div class="container-left">
<div class="suit" >
    <h1>Books</h1>
    {% for book in data %}      
        <p>{{book.title}}</p> 
        <p>{{book.isbn}}</p> 
        <p>{{book.author}}</p> 
        <p>{{book.picture}}</p> 
        
    {% endfor %}

    <li><a href="{{ url("library")}}">Library</a></li>
    <li><a href="{{ url("books_show_all")}}">Show all books</a></li>
</div>

{% endblock %}