<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Report{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style1.css") }}"/>
       
    </head>
    <header>
            <nav class="navbar">
                <a href="{{ url("report")}}">Report</a>
                <a href="{{ url("project")}}">Hem</a>
                <a href="{{ url("poker")}}">Poker</a>
                <a href="{{ url("project_about")}}">About</a>
                <a href="{{ url("admin")}}">Admin</a>
                <a href="{{ url("app_register")}}">Register</a>
                {% if app.user %}
                <a href="{{ url("app_logout")}}">Logout</a>
                {% else %}
                <a href="{{ url("login")}}">Login</a>
                {% endif %}
                
                
            </nav>
    </header>
    <body>

            {% block content %}

        <h1>Hej du!!</h1>
            {% endblock %}
        </main>
        
    </body>
    <footer>
        {% block footer %}
        <p>Copyright &copy; NGC 2812 Inc</p>
        
        {% endblock %}
    </footer>
    {% block javascripts %}
          <script src="{{ asset("js/text.js")}}"></script>
          {# <script src="{{ asset("js/main.js")}}"></script> #}
    {% endblock %}
</html>
