<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Report{% endblock %}</title>
        <link rel="icon" href="{{ asset("favicon.ico") }}">
        <link rel="stylesheet" href="{{ asset("css/style.css") }}"/>
       
    </head>
    <header>
            <nav class="navbar">
                <a href="{{ url("home")}}">Hem</a>
                <a href="{{ url("about")}}">About</a>
                <a href="{{ url("report")}}">Report</a>
                <a href="{{ url("test")}}">Test</a>
                <a href="{{ url("card")}}">Card</a>
                <a href="{{ url("game")}}">Game</a>
                <a href="{{ url("library")}}">Library</a>
                <a href="{{ url("app_register")}}">Register</a>
                <a href="{{ url("login")}}">Login</a>
                <a href="{{ url("metrics")}}">Metrics</a>
                <a href="{{ url("admin")}}">Admin</a>
            </nav>
    </header>
    <body>
        <main>

            {% block content %}

        <h1>Hej du!!</h1>
            {% endblock %}
        </main>
        
    </body>
    <footer>
        {% block footer %}
        <p>Copyright &copy; NGC 2812 Inc</p>
        
        {% endblock %}
    </footer>
    {% block javascripts %}
          <script src="{{ asset("js/text.js")}}"></script>
          {# <script src="{{ asset("js/main.js")}}"></script> #}
    {% endblock %}
</html>
