{# test.html.twig #}

{% extends "base.html.twig"%}

{% block content %}

<div>
    <h1>Card landingpage</h1>
<ul>
    <li><a href="{{ url("deck")}}">Deck</a></li>
    <li><a href="{{ url("shuffle")}}">Shuffle</a></li>
    <li><a href="{{ url("draw")}}">Draw</a></li>
    <li><a href="{{ link_to_draw }}">Draw 4 cards</a></li>
    <li><a href="{{ link_to_deal }}">Poker deal</a></li>
    <li><a href="{{ url("deck2")}}">Joker</a></li>
    <li><a href="{{ url("deckjson")}}">DeckJson</a></li>
    <li><a href="{{ url("jsondraw")}}">DeckJson</a></li>
</ul>
    
</div>

{% endblock %}