{# test.html.twig #}

{% extends "base.html.twig"%}

{% block content %}

<div class="container-left">
    <div class="suit" >
        <h1>Deck</h1>
       {{deck|json_encode}} 
    </div>  
</div>
<ul>
    <li><a href="{{ url("shuffle")}}">Shuffle</a></li>
    <li><a href="{{ url("draw")}}">Draw</a></li>
    <li><a href="{{ url("deck2")}}">Joker</a></li>
    {# <li><a href="{{ link_to_draw }}">Draw 4 cards</a></li> #}
    {# <li><a href="{{ link_to_deal }}">Poker deal</a></li> #}
</ul>
</div>
{% endblock %}