{% extends "base.html.twig" %}

{% block title %}Game | Start{% endblock %}

{% block content %}

<form method="post">
    <fieldset>
    <legend>A dice game</legend>

    <p>
        <input type="submit" name="roll" value="Roll">
        <input type="submit" name="save" value="Save">
        <input type="submit" name="clear" value="Clear">
        <input type="submit" name="start" value="Start">
    </p>
      
    {% if data is defined %}
    {{dump(data)}} 
    {% for i in 0..(cards) %}
        <img src={{ asset(data.hand[i].image) }}>
    {% endfor %}
    <p>Cardsleft {{cardsleft}}</p>
    <p>CardsSum {{sum}}</p>
        {% endif %}
    
    {{ include('block/flash-message.html.twig') }}


    </fieldset>
</form>

{% endblock %}
