{% extends "base.html.twig" %}

{% block title %}Game | Start{% endblock %}



{% block content %}
<div class="continerleft">
    
<h2>21</h2>
<form method="post">
    <fieldset>
    {% if data is defined %}
    {{ dump(js) }}
    
        {% for i in 0..(cards) %}
            {% if data.hand %}
                <img class="card21" src={{ asset(data.hand[i].image) }}>
            {% endif %}    
        {% endfor %}
        <p>{{sum}}</p>
    
    
    
        {% for i in 0..(bankcards) %}
            {% if bank.hand %}
                <img src={{ asset(bank.hand[i].image) }}>
                
            {% endif %}
            
        {% endfor %}
        
        {% block javascripts %}
        {% if js == 1 %}
            <script type="text/javascript">
                document.getElementById("draw").disabled = true;
                document.getElementById("stay").disabled = true;
            </script>
        {% endif %}
        {% endblock %}
    {% endif %}
    
    {{ include('block/flash-message.html.twig') }}
    <p>
        <input id="draw" type="submit" name="draw" value="Draw">
        <input id="stay" type="submit" name="stay" value="Stay">
        <input id="clear" type="submit" name="clear" value="Clear">
        <input type="submit" name="start" value="Start">
    </p>

    </fieldset>
</form>

</div>
{% endblock %}
