{# players.html.twig #}

{% extends "base.html.twig"%}
{% block title %}Card | Poker{% endblock %}
{% block content %}

<div class="container-left">
    <h1>Deal</h1>
    <div class="card" > 
        {% set player = 1 %}
        {% for card in hands %}
        <div>
            <p>Player {{player}}</p>
            {% for i in 0..(cards) %}   
            <img src={{ asset(card[i].image) }}>
            {% endfor %} 
        </div>
             {% set player = player + 1 %}
        {% endfor %}
        
    </div>
    <p>{{ cardleft}} card left in deck</p>
    <ul>
    <li><a href="{{ url("deck")}}">Deck</a></li>
    <li><a href="{{ url("shuffle")}}">Shuffle</a></li>
    <li><a href="{{ url("draw")}}">Draw</a></li>
    <li><a href="{{ url("deck2")}}">Joker</a></li>
    <li><a href="{{ link_to_draw }}">Draw 4 cards</a></li>
    </ul>
</div>


{% endblock %}