{# test.html.twig #}

{% extends "base1.html.twig"%}

{% block content %}

<div>
    <h1>Poker</h1>
    {{ dump(hand) }}
    {{ dump(arr) }}
    {{ dump(values) }}
    {{ dump(arr1) }}
    {{ dump(res) }}
    {# {{ dump(straight) }} #}
    <p>Points = {{points}}</p>

</div>

{% endblock %}