{# templates/home.html.twig #}
{% extends "base1.html.twig"%}

{% block content %}

<main>
<div>
<h1>Startsida för projektet kmom07/10 i kursen mvc</h1>
<p><img src={{ asset("img/deck/14-hearts.png")}}><img src={{ asset("img/deck/13-hearts.png")}}><img src={{ asset("img/deck/12-hearts.png")}}>
    <img src={{ asset("img/deck/11-hearts.png")}}><img src={{ asset("img/deck/10-hearts.png")}}>
</p>
<h2>Länkarna till projektet finns i navbaren</h2>
</div>

</main>

 {% endblock %}