{% extends 'base1.html.twig' %}

{% block title %}Admin{% endblock %}

{% block content %}
<main>
    <div class="container-left">
<h1>User page</h1>
    <p>Name: {{ user.name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Role: {{ user.roles[0] }}</p>
    <p>Akronym: {{ user.akronym }}</p>

    <ul>
       <p><u><a href="{{ path('update_user', {email: user.email})}}">Update user</a></u> 
        </p>
    </ul>
</div>
</main>

{% endblock %}
