{# templates/about.html.twig #}

{% extends "base.html.twig"%}

{% block content %}

<div class="report">
<h1>Report</h1>
{{ include('report/report/kmom01.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom02.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom03.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom04.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom05.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom06.markdown.twig')|markdown_to_html}}
{{ include('report/report/kmom10.markdown.twig')|markdown_to_html}}
</div>


 {% endblock %}